body {
    background-color: gainsboro;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
h1 {
    padding-left: 25px;
    color: lime;
    font-weight: bold;
}

h5 {
    padding-bottom: 5px;
    text-align: center;
    text-indent: -110px;
    color: lime;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container .image {
    border: 3px solid white;
    width: 50%;
}

.container .image:hover {
    border: 3px solid lime;
    width: 50%;
}

.container img {
width: calc(100% - (20px * 2));
margin: 20px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2;
}

.jumbotron {
    background-color: white;
}

.row {
    padding-top: 50px;
    padding-left: 100px;
}

.navbar-brand {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background: lime;
}
#hcolour{
    font-weight: bold;
    color: white;
}
#padimg {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.maxwidth {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    max-width: 1280px;
    background-color: white;
}

@media (max-width: 992px) {
    .navbar-custom {
        background-color: lime !important;
    }
}